.download {
    max-height: 430px;
    margin: 134px auto 114px;

    &__slogan {
      font-family: 'Raleway', sans-serif;
      font-size: 30px;
      font-weight: 500;
      line-height: 35px;
      text-align: center;
      color: #000000;
    }

    &__desc {
      display: block;
      margin-top: 26px;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;
    }

    &__btn {
      margin: 47px auto 0;
      min-width: 370px;
      min-height: 80px;
      display: block;
      text-align: center;
      color: #FFFFFF;
      background: #FF4343;
      font-family: 'Raleway', sans-serif;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      transition: background .2s .2s linear;
      
      &:hover {
        background: #E71414;
      }
      
      &:active {
        background: #FF4343;
        box-shadow: 4px 4px 30px #FF4343;
      }
    }
}

@media (max-width: 1025px) {

  .download {
    margin: 94px auto 70px;

    &__slogan {
      font-size: 24px;
      line-height: 28px;
    }

    &__desc {
      font-size: 14px;
      line-height: 16px;
    }

    &__btn {
      min-width: 313px;
      min-height: 77px;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@media (max-width: 330px) {
  .download {
    margin: 43px auto ;

    &__slogan {
      margin: 0 auto;
      font-size: 18px;
      line-height: 21px;
      max-width: 280px;
    }
    &__desc {
      font-size: 13px;
      line-height: 15px;
    }
    &__btn {
      min-width: 280px;
      margin: 15px auto 0;
    }
  }
}