.features {
  width: 100%;
  height: 100%;
  margin: 10px auto 20px;
  padding: 0;


  &__row {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.features__card {
  padding: 0;
  margin: 0 20px 0 0;
  width: 31%;

  &_icon {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
  }

  &_desc {
    // margin-right: 20px;
    margin-bottom: 80px;
    min-width: 370px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #6C7279;
  }

  &_title {
    margin: 45px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
  }
}

@media (max-width: 1170px) {

  .features {
    &__row {
    margin: 100px auto 40px;
  }

  &__card_icon {
    max-width: 85px;
    max-height: 85px;
  }

  &__card_title {
    margin: 45px auto 25px;
  }

  &__card_desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
    min-width: 314px;
    }
  }
}

@media (max-width: 992px) {

  .features {

    &__card {
      width: 50%;
      margin: 0;
    }

    &__card_icon {
    margin-top: 30px;
  }

    &__card_desc {
    max-width: 300px;
    margin: 0 auto 40px;
    }
	}
}

@media (max-width: 690px) {

    .features {
    &__row {
      flex-direction: column;
      margin: 0;
    }
    &__card {
      width: 100%;
    }
    &__card_desc {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 330px) {

  .features {
    &__row {
      margin: 40px auto 0;
    }

    &__card_icon { 
      margin: 0 auto;
      max-width: 75px;
      max-height: 75px;
    }

    &__card_title {
      margin: 45px auto 15px;
    }
		
    &__card_desc {
      min-width: 280px;
      margin: 0 auto;
      padding: 0 8px 45px;
    }
	}
}